<?xml version="1.0" encoding="utf-8" ?>
<!--<osharp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://file.66soft.net/downloads/schemas/osharp.xsd">-->
<osharp>
  <data>
    <contexts>
      <context name="default" enabled="true" dataLoggingEnabled="true" connectionStringName="default" type="OSharp.Core.Data.Entity.DefaultDbContext, OSharp.Core.Data.Entity">
        <initializer type="OSharp.Core.Data.Entity.DefaultDbContextInitializer, OSharp.Core.Data.Entity" mapperFiles="OSharp.Demo.Core"/>
      </context>
      <context name="logging" enabled="true" dataLoggingEnabled="false" connectionStringName="logging" type="OSharp.Core.Data.Entity.Logging.LoggingDbContext, OSharp.Core.Data.Entity">
        <initializer type="OSharp.Core.Data.Entity.Logging.LoggingDbContextInitializer, OSharp.Core.Data.Entity" mapperFiles="OSharp.Core.Data.Entity"/>
      </context>
    </contexts>
  </data>
  <logging>
    <entry enabled="true" level="Debug"/>
    <data enabled="true" level="Info" type="OSharp.Core.Data.Entity.Logging.DatabaseLoggerAdapter, OSharp.Core.Data.Entity"/>
    <basic>
      <adapters>
        <adapter name="log4net" enabled="true" type="OSharp.SiteBase.Logging.Log4NetLoggerAdapter, OSharp.SiteBase"/>
      </adapters>
    </basic>
  </logging>
</osharp>