<?xml version="1.0" encoding="utf-8" ?>
<osharp xmlns="http://file.66soft.net/downloads/schemas/osharp.xsd">
  <data>
    <contexts>
      <context name="RK" enabled="true" dataLoggingEnabled="true" connectionStringName="RK" type="OSharp.Core.Data.Entity.DefaultDbContext, OSharp.Core.Data.Entity">
        <initializer type="OSharp.Core.Data.Entity.DefaultDbContextInitializer, OSharp.Core.Data.Entity" mapperFiles="RK.TZ.Core"/>
      </context> 
      <context name="logging" enabled="true" dataLoggingEnabled="false" connectionStringName="default" type="OSharp.Core.Data.Entity.Logging.LoggingDbContext, OSharp.Core.Data.Entity">
        <initializer type="OSharp.Core.Data.Entity.Logging.LoggingDbContextInitializer, OSharp.Core.Data.Entity" mapperFiles="OSharp.Core.Data.Entity"/>
      </context>
    </contexts>
  </data>
  <logging>
    <entry enabled="true" level="Debug"/>
    <data enabled="true" level="Debug" type="OSharp.SiteBase.Logging.DatabaseLoggerAdapter, OSharp.SiteBase"/>
    <basic>
      <adapters>
        <adapter name="log4net" enabled="true" type="OSharp.SiteBase.Logging.Log4NetLoggerAdapter, OSharp.SiteBase"/>
      </adapters>
    </basic>
  </logging>
</osharp>