@{
    ViewBag.Title = "OSharp快速开发框架";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.Data;
    DateTime now = DateTime.Now;
}

<h2>OSharp快速开发框架</h2>
<ol style="line-height: 30px;">
    <li>@Html.ActionLink("测试页", "Index", "Tests")</li>
    <li>@Html.ActionLink("WebApi测试", "Test01", "Tests", new { area = "Service" }, null)</li>
    <li>@Html.ActionLink("后台首页", "Index", "Home", new { area = "Admin" }, null)</li>
</ol>
