@{
    ViewBag.Title = "Welcome";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>
@*<ul>
    <li>组织机构数量：@ViewBag.Data.OrganizationCount</li>
    <li>角色数量：@ViewBag.Data.RoleCount</li>
    <li>用户数量：@ViewBag.Data.UserCount</li>
</ul>*@